body{ 
    color: black;
}
.titulo{
    text-align: center;
    font-size: 14px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;}
.titulo{
        color:black;
        background-color: black;
        height: auto;
        display: flex;
        justify-content: center;
}
.titulo_interior{
        width: 400px;
        background-color: white;
}
img{
    width: 40%;
    height: auto;
}
h2{
    color: aliceblue;
    background-color: black;
    display: grid;
    grid-row: auto;
}
footer{
    display: grid;
    grid-template-columns: 50% 50%;
    color: azure;
    background-color: black;
}
.correo{
text-align: end;
}