body{ 
    background-color: red;
    color: blue;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;}
.grid-item-1{
    color: black;}
